@tailwind base;
@tailwind components;
@tailwind utilities;

.StreamerItem {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.StreamerItem :nth-child(1) { grid-area: 1 / 1 / 3 / 2;}
.StreamerItem :nth-child(2) { grid-area: 1 / 2 / 2 / 3;}
.StreamerItem :nth-child(3) { grid-area: 2 / 2 / 3 / 3;}


.filter-white{
  filter: invert(100%) sepia(76%) saturate(0%) hue-rotate(281deg) brightness(106%) contrast(101%);
}

.filter-purple{
  filter: brightness(0) saturate(100%) invert(49%) sepia(19%) saturate(2196%) hue-rotate(217deg) brightness(105%) contrast(93%);
}

.twitchFollow {
  display: inline-block;
  
  -webkit-mask: url(images/heart-solid.svg) no-repeat 50% 50%;
  mask: url(images/heart-solid.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;

  background: #a175f600;
  -webkit-transition: background .5s; /* For Safari 3.0 to 6.0 */
  transition: background .5s; /* For modern browsers */

  cursor: pointer;
}

/* .twitchFollow:hover {
  background: #a175f678;
} */


.twitchFollow > input[type=checkbox]{
  display: none;
}

.twitchFollow > label{
/*   
  width: 48px;
  height: 48px; */
  display: inline-block;
  
  -webkit-mask: url(images/heart-solid.svg) no-repeat 50% 50%;
  mask: url(images/heart-solid.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;


  background: #a175f600;
  -webkit-transition: background .25s; /* For Safari 3.0 to 6.0 */
  transition: background .25s; /* For modern browsers */

  cursor: pointer;
}

.twitchFollow:hover {
  background: #a175f678;
}

.twitchFollow > input[type=checkbox]:checked + label{
  background-color: #a175f6FF;
}